* {
    margin: 0;
    padding: 0;
}

.center {
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
}

.navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    background-color: #222222;
    padding: 26px 240px 26px 231px;
    
}

.img_1 {
    padding-right: 41px;
}

.rigth_part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
} 

.brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: #F1E4E6;
    margin-bottom: 65px;    
}

.main_img {
    margin-right: 63px;
    
}

.header_rectangle {
    padding-right: 12px;
}

.brand_text {
    display: flex;
    flex-direction: column;  
}

.fashion {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.the_brand{
    color: #222;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.luxery_text{
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.fashion_text {
    color: #F16D7F;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.categories{
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: 2;
    gap: 30px;
    margin-bottom: 96px;
    padding-right: calc(50% - 570px);
    padding-left: calc(50% - 570px);
   
    
}

.accesories {
    grid-column: span 3;
}

.image {
    background: #000;
    
}

.img_categories {
	opacity: 0.3;
}


.category {
    position: relative;
}

.text_categories {
    position: absolute;
}

.text_possition_1 {
    top: 105px;
    left: 103px;
    
}

.text_possition_2 {
    top: 105px;
    left: 125px;
}

.text_possition_3 {
    top: 105px;
    left: 123px;
}

.text_possition_4 {
    top: 65px;
    left: 491px;
}

.text_style_1 {
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text_style_2 {
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.fetured_items {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin-bottom: 48px;
    gap: 6px;
    
   
}

.fetured_items_header{
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.fetured_items_text{
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}

.goods {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: 3;
    gap: 16px;
    margin-bottom: 32px;
    padding-right: calc(50% - 570px);
    padding-left: calc(50% - 570px);
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #F8F8F8;
}

.img_item {
    margin-bottom: 24px;
}

.name {
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.name {
    padding-bottom: 12px;
}

.description {
    padding-bottom: 18px;
}

.description {
    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.price {
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.name_1, .description_1 {
    padding-bottom: 16px;
}

.item_1_text {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 24px;
}

.image_container {
    display: flex;
    justify-content: center;
    background-color: #F7E4E2;
    padding: 9px 110px 11px 108px;
    margin-bottom: 24px;
}


.item_text {
    padding-left: 16px;
    padding-right: 28px;
    padding-bottom: 20px;
}


.all_product {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #FF6A6A;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 70px;
    margin-left: calc(50% - 106px);
    margin-right: calc(50% - 106px);
}

.footer_text{
    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



@media(min-width: 768px) and (max-width: 1024px) {
    .center {
        max-width: 1024px;
        .basket {
            position: relative;
        }
        
        .ellipse {
            position: absolute;
            top: -40px;
            left: 160px;
        }
        
        .ellipse {
            position: relative;
        }
        
        .ellipse img {
            position: absolute;
        }
        
        .ellipse p {
            position: relative;
            top: 0px;
            left: 6px;
        }
        
        .purchase {
            color: #FFF;
            font-family: Lato;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
    
        
}